{% extends "base.html" %}
{% load static %}
{% block title %}Política de Gestión Integral de la Calidad{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calidad_organizacion.css' %}">
{% endblock %}
{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title">
    Sistema de Gestión Integral de la Calidad
  </h1>
</div>

<section style="background-color: #fff;">
<div class="container pb-5">
   <div class="nivel">
        <!-- <div class="nivel-titulo pb-5">Directriz de la Política en relación al Sistema de Gestión Integral de la Calidad</div> -->
        <h3 class="py-5" style="color: var(--gris-link);">Acerca del Sistema</h3>
        <div class="nivel-texto">
            El Sistema de Gestión Integral de la Calidad (SGIC) de la Universidad de La Serena, constituye el instrumento que articula los mecanismos, procesos y evidencias que permiten a la Institución planificar, ejecutar, evaluar y mejorar de forma continua sus principales funciones. El SGIC es la expresión concreta del compromiso institucional con la excelencia, transparencia y mejora permanente, constituyéndose además como la estructura formal mediante la cual se organiza la gestión de la calidad y fortalece la cultura de la calidad en la Universidad de La Serena.
        </div>
    </div>
</div>
</section>
<section class="py-5 container" style="background: #F4F5F7;">
    <div class="nivel">
        <!-- <div class="nivel-titulo pb-5">Objetivos Específicos de la Política de Gestión Integral de la Calidad</div> -->
      <h3 class="pb-5" style="color: var(--gris-link);">Pilares del Sistema</h3>
      
    </div>
</section>
<section style="background-color: #fff;">
  <div class="py-5 container">
      <div class="nivel">
          <!-- <div class="nivel-titulo pb-5">Objetivos Específicos de la Política de Gestión Integral de la Calidad</div> -->
        <h3 class="pb-5" style="color: var(--gris-link);">Objetivos del Sistema de Gestión Integral de la Calidad</h3>
        <div class="row g-4 pb-5">
            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Planificación</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Desarrollar la planificación estratégica y operativa institucional, siguiendo lineamientos de gestión de calidad, articulando políticas, procesos y resultados.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Autorregulación</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Fortalecer la autorregulación académica, promoviendo la evaluación permanente de los programas y el cumplimiento de estándares internos y externos.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white ">Procesos</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Consolidar la gestión porprocesos, identificando entradas, productos, responsables e indicadores de desempeño en cada ámbito misional.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Información Institucional</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Asegurar la trazabilidad de la información institucional, mediante la gestión digital y la documentación sistemática de evidencias.
                    </p>
                </div>
            </div>

        </div>

        <div class="row g-4">
            <div class="col-12 col-md-3">
              <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Participación</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Promover la participación y la corresponsabilidad, generando una cultura de la mejora continua compartida por toda la comunidad universitaria.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white ">Resultados</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Evaluar y retroalimentar los resultados de procesos, garantizando la adopción de medidas correctivas y preventivas en todos los niveles de gestión.
                    </p>
                </div>
            </div>
<div class="col-12 col-md-3">
              <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white ">Formación</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9; text-align: justify;">
                      Vincular el SGIC con la formación de capital humano, impulsando el desarrollo de capacidades institucionales en evaluación, análisis y planificación de la calidad.
                    </p>
                </div>
            </div>
<div class="col-12 col-md-3">
              <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white ">Mejora Continua</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9;">
                      Generar información estratégica que contribuya a la capacidad analítica institucional que favorezca la escalabilidad y optimización del SGIC en función de la evidencia.
                    </p>
                </div>
            </div>


        </div>            
      </div>
    </div>
</section>

{% endblock %}