{% extends "base.html" %}
{% load static %}
{% block title %}Ciclo PHVA{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calidad_organizacion.css' %}">
{% endblock %}
{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title">
    Ciclo Planificar – Hacer – Verificar - Actuar
  </h1>
</div>


<section style="background-color: #fff;">
<div class="container">
   <div class="nivel">
        <!-- <div class="nivel-titulo pb-5">Directriz de la Política en relación al Sistema de Gestión Integral de la Calidad</div> -->
        <!-- <h3 class="py-5" style="color: var(--gris-link);">Ciclo Planificar – Hacer – Verificar - Actuar</h3> -->
        <div class="pt-5 nivel-texto">
            El Sistema de Gestión Integral de la Calidad (SGIC) se sustenta en el ciclo de
            mejora continua PHVA (Planificar, Hacer, Verificar y Actuar), aplicado de forma
            transversal en los niveles estratégico, táctico y operativo, constituyéndose como
            el motor del sistema, para asegurar la coherencia, efectividad y mejora
            permanente de los procesos institucionales.
            <br><br>
            Este ciclo se concibe como un proceso sin cierre, en el que cada etapa genera
            aprendizajes y resultados que retroalimentan la siguiente, garantizando la
            continuidad de la mejora y la consolidación de una cultura de calidad en la
            Universidad.
        </div>
    </div>
</div>


<div class="container pb-5">
 <!-- Con bordes redondeados -->
   <div class="col-md-10 offset-md-1 text-center">
     <img src="{% static 'images/ciclo-phva.png' %}" class="img-fluid rounded " style="padding:5%" alt="descripción">
   </div>
</div>

</section>


<section>
<div class="container pb-5">
    <div class="nivel">
        <!-- <div class="nivel-titulo pb-5">Principios Transversales de la Política de Gestión Integral de la Calidad</div> -->
        <h3 class="py-5" style="color: var(--gris-link);">Principios Transversales de la Política de Gestión Integral de la Calidad</h3>
        <div class="row g-4 pb-5">
            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Planificar</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9;">
                      La etapa Planificar constituye el inicio del ciclo
PHVA y tiene por propósito fijar los objetivos,
metas y acciones necesarias para lograr los
resultados esperados. En ella se identifican las
necesidades, se establecen indicadores, se
determinan los recursos y se definen los
mecanismos de control que permiten ejecutar los
procesos de manera efectiva.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Hacer</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9;">
                      La etapa Hacer corresponde a la ejecución
de las actividades planificadas, procesos,
metodologías y recursos definidos. En esta
etapa se implementan las acciones que
transforman las entradas en resultados.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Verificar</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9;">
                      La etapa Verificar involucra el seguimiento,
medición y análisis de los resultados
obtenidos en relación con los objetivos
establecidos. Permite evaluar el desempeño
de los procesos y detectar desviaciones u
oportunidades de mejora.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="p-4 rounded-4 h-100 bg-morado">
                    <p class="fw-bold mb-3 text-white">Actuar</p>
                    <p class="text-white mb-0" style="font-size: .875rem; opacity: .9;">
                      La etapa Actuar comprende la adopción de
acciones correctivas y preventivas derivadas
de la verificación, orientadas a mejorar los
procesos, optimizar los resultados y
fortalecer la cultura de calidad institucional.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}