{% extends "base-construccion.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/calidad_organizacion.css' %}">
{% endblock %}
{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title text-center">
    Sitio en Construcción
  </h1>
</div>

<section style="background-color: #fff;">
<div class="container py-5">
    <div class="col-md-12 mb-4 text-center">
      Por favor, vuelva pronto para más información sobre el Sistema de Gestión Integral de la Calidad.
    </div>
</div>
</section> 
{% endblock %}