{% extends "base.html" %}
{% load static %}
{% block title %}Documentos{% endblock %}

{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title">
    Documentos Institucionales
  </h1>
</div>

<section style="background-color: #fff;">
<div class="container py-5">
<!-- Contenedor de actividades de formación -->
<div class="d-flex flex-column gap-3">

   <!-- Card 1 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        DE N°937 Declara la existencia del Comité de Gestión Integral de la Calidad
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
      </p>
    </div>

    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/CGIC-DEN937.pdf' %}" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Política de Gestión Integral de la Calidad
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-aseguramiento-calidad.pdf' %}" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Plan de Desarrollo Institucional 2024-2033
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        El presente documento contiene el Plan de Desarrollo Institucional (PDI) de la Universidad de La Serena para el periodo 2024-2033. En él se establecen las directrices y acciones conducentes al cumplimiento de la misión y de los objetivos corporativos para el periodo señalado.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/Actualizacion_del_Plan_de_Desarrollo_Institucional_PDI_2024_2033_Decreto_Exento_N936.pdf" target="_blank" download  class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Modelo Educativo Institucional
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        El presente documento declara el Modelo Educativo de la Universidad de La Serena como un documento de referencia para orientar políticas, decisiones y acciones en relación a la docencia y el currículum de la formación de sus estudiantes.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/Modelo_Educativo_Universidad_de_La_Serena.pdf" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 5 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Plan de Fortalecimiento a 10 años
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        El presente documento contiene el Plan de Fortalecimiento a 10 años de la Universidad de La Serena.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/ULaSerena_PFE10anos_2021.pdf" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>


  <!-- Card 6 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Política de Vinculación con el Medio
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Política Institucional, Modelo y Modelo de Gestión de Vinculación con el medio de la Universidad de La Serena.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/Decreto_exento_N845.pdf" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 7 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Documento de autorregulación de la gestión curricular de pregrado y postgrado
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Documento de autorregulación de la gestión curricular de pregrado y postgrado de la Universidad de La Serena.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/documento-autorregulacion-gestion-curricular-pregrado-postgrado-ULS.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política de Investigación e Innovación
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Política de Investigación e Innovación de la Universidad de La Serena.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-investigacion-innovacion-ULS.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política de Creación
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/RE3432-politica-de-creacion.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política Integral de Igualdad de Género
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-igualdad-de-genero.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

</div>
</div>
</section>


<style>
.formacion-card {
  /* border-color: #2a7a6e !important;  */
  border-color: var(--gris-link) !important;
  border-width: 1.5px !important;
}

.formacion-left {
   width: 80%; 
   /* border-right: 1.5px solid #2a7a6e; */
   border-right: 1.5px solid var(--gris-link);
}
.formacion-left p.titulo {
    color: var(--color-morado);
    font-size: 0.9rem;
}


.formacion-right {
  width: 20%; 
  background-color: #f2f3f5;
}

.formacion-right .formacion-right-text {
    font-size: 0.85rem;
    color: var(--gris-link);
    line-height: 1.4;
}

.btn-outline-danger {
  border-radius: 0 8px 8px 0 !important;  /* top-left, top-right, bottom-right, bottom-left */
  /* border-right: 1.5px solid var(--rojo); */
  /* border-right: 1.5px solid var(--color-morado); */
}
</style>

{% endblock %}