{% extends "base.html" %}
{% load static %}
{% block title %}Documentos{% endblock %}

{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title">
    Documentos Institucionales
  </h1>
</div>

<section style="background-color: #fff;">
<div class="container py-5">
<!-- Contenedor de actividades de formación -->
<div class="d-flex flex-column gap-3">

   <!-- Card 1 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Política de Aseguramiento Interno de la Calidad
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Su objetivo es que las distintas áreas de la universidad cumplan sus metas e indicadores con excelencia, fortaleciendo la autorregulación, el mejoramiento continuo y la participación activa de la comunidad universitaria.
      </p>
    </div>

    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/CGIC-DEN937.pdf' %}" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>


  <!-- Card 3 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Plan de Desarrollo Institucional (PDI) 2024-2033
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Orienta la acción estratégica y constituye una guía fundamental para la evaluación y la toma de decisiones en el quehacer de la institución, en sus distintos ámbitos misionales y de gestión.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/PDI-2024-2033-ULS.pdf' %}" target="_blank" download  class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Modelo Educativo Institucional (MEI)
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Orienta y permite a todas las unidades académicas implementar el desarrollo de sus programas docentes. Asimismo, favorece la articulación de todos los procesos formativos y posibilita la actualización curricular como una acción fundamental del sistema de aseguramiento de la calidad de la institución.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/Modelo_Educativo_Universidad_de_La_Serena.pdf" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>


  <!-- Card 6 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
        Política de Vinculación con el Medio
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Su propósito es alinear, de acuerdo con los actuales requerimientos, las acciones que se derivan de los nexos y relaciones que la institución mantiene con su entorno significativo, evaluando los impactos y/o contribuciones, y promoviendo la mejora continua de las funciones institucionales.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="https://userena.cl/images/archivos/documentos_institucionales/Decreto_exento_N845.pdf" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 7 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Documento de autorregulación de la gestión curricular de pregrado y postgrado
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Presenta de manera detallada los procesos y las acciones requeridas para la adecuada implementación de los propósitos del Modelo Educativo Institucional.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/autorregulacion-gestion-curricular-pregrado-postgrado-ULS.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política de Investigación e Innovación
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Su objetivo es impulsar la investigación e innovación en la Universidad de La Serena, fortaleciendo la participación, las capacidades y la cultura de gestión del conocimiento, para aportar al desarrollo científico, tecnológico, cultural y social con reconocimiento nacional e internacional.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-investigacion-e-innovacion.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política de Creación
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Su objetivo es consolidar un ecosistema de creación en la Universidad de La Serena, promoviendo la colaboración y la valorización de las artes y humanidades para fortalecer su impacto cultural, académico y social a nivel regional, nacional e internacional.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-de-creacion.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>


  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Reglamento de Postgrados y Postítulos
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Establece las normas y disposiciones que regulan los programas de postgrado y postítulo, incluyendo aspectos relacionados con admisión, permanencia, evaluación, requisitos académicos y obtención de grados o certificaciones.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/postgrados-y-postitulos-2026.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
      Reglamento de Investigación y Desarrollo
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Establece la organización, funciones y mecanismos de la investigación y desarrollo en la institución. Regula el financiamiento interno y externo, la vinculación con la docencia y los procedimientos de ejecución, seguimiento y cierre de proyectos de investigación.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/reglamento-investigacion-desarrollo.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>
  <div class="act-card d-flex align-items-stretch border rounded-4 overflow-hidden formacion-card">
    <div class="flex-grow-1 p-4 formacion-left">
      <p class="fw-semibold mb-2 titulo">
       Política Integral de Igualdad de Género
      </p>
      <p class="text-secondary mb-0" style="font-size: 0.85rem; line-height: 1.6;">
        Su objetivo es fomentar el desarrollo integral de la comunidad universitaria, promoviendo la equidad de género, la convivencia respetuosa y la erradicación del acoso, la violencia y la discriminación.
      </p>
    </div>
    <div class="d-flex align-items-stretch formacion-right">
      <span class="fw-semibold formacion-right-text w-100 h-100 d-flex align-items-stretch">
        <a href="{% static 'documentos/politica-igualdad-de-genero.pdf' %}" target="_blank" download 
          class="btn btn-outline-danger border-0 w-100 h-100 d-flex align-items-center justify-content-center rounded-0">
          <i class="fa-solid fa-file-pdf me-2"></i>Descargar
        </a>
      </span>
    </div>
  </div>

</div>
</div>
</section>


<style>
.formacion-card {
  /* border-color: #2a7a6e !important;  */
  border-color: var(--gris-link) !important;
  border-width: 1.5px !important;
}

.formacion-left {
   width: 80%; 
   /* border-right: 1.5px solid #2a7a6e; */
   border-right: 1.5px solid var(--gris-link);
}
.formacion-left p.titulo {
    color: var(--color-morado);
    font-size: 0.9rem;
}


.formacion-right {
  width: 20%; 
  background-color: #f2f3f5;
}

.formacion-right .formacion-right-text {
    font-size: 0.85rem;
    color: var(--gris-link);
    line-height: 1.4;
}

.btn-outline-danger {
  border-radius: 0 8px 8px 0 !important;  /* top-left, top-right, bottom-right, bottom-left */
  /* border-right: 1.5px solid var(--rojo); */
  /* border-right: 1.5px solid var(--color-morado); */
}
</style>

{% endblock %}