{% extends "base.html" %}
{% load static %}
{% block title %}Calidad Userena{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/indicadores.css' %}">
  <link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
{% endblock %}
{% block content %}
<div class="container-xl py-5">
  <h1 class="bt-4 hero-title">
    Desarrollo Estratégico<br>y Calidad USerena
  </h1>
  
  <section class="banner-section">
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">

      <!-- Indicadores (puntitos) -->
      <div class="carousel-indicators">
        {% for banner in banners %}
        <button type="button"
                data-bs-target="#bannerCarousel"
                data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}>
        </button>
        {% endfor %}
      </div>

      <!-- Slides -->
      <div class="carousel-inner">
        {% for banner in banners %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">

          <picture>
            {% if banner.imagen_mobile %}
              <source media="(max-width: 768px)" srcset="{{ banner.imagen_mobile.url }}">
            {% endif %}

            <img src="{{ banner.imagen.url }}"
                class="d-block w-100 banner-img"
                style="border-radius: 25px;"
                alt="{{ banner.imagen_alt|default:banner.titulo }}"
                loading="lazy"
                decoding="async">
          </picture>

          {% if banner.titulo or banner.subtitulo %}
          <div class="carousel-caption d-none d-md-block">
            {% if banner.titulo %}
              <h2>{{ banner.titulo }}</h2>
            {% endif %}
            {% if banner.subtitulo %}
              <p>{{ banner.subtitulo }}</p>
            {% endif %}
            {% if banner.url %}
              <a href="{{ banner.url }}"
                class="btn btn-primary"
                {% if banner.url_externa %}target="_blank" rel="noopener"{% endif %}>
                {{ banner.url_texto|default:'Ver más' }}
              </a>
            {% endif %}
          </div>
          {% endif %}

        </div>
        {% endfor %}
      </div>

      <!-- Flecha anterior -->
      <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
      </button>

      <!-- Flecha siguiente -->
      <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>

    </div>
  </section>
</div>


{% if indicadores_destacados %}
<section style="background-color: #fff;">
    <div class="container-xl py-5">
      <h2 class="py-5 text-center" style="color: var(--gris-link);">Indicadores de Calidad Institucional</h2>
        <div class="row text-center justify-content-center">
            {% for indicador in indicadores_destacados %}
              <div class="col-6 col-md-4 col-lg-4 mb-4">
                <div class="indicador-card p-3 h-100 text-center indicador-hover">
                    {% if indicador.icono %}
                        <img src="{{ indicador.icono_gif.url }}" 
                            alt="{{ indicador.titulo }}" 
                            class="indicador-icon mb-3">
                    {% endif %}

                    <h2 class="indicador-valor mb-1">
                        <span class="counter" data-target="{{ indicador.valor }}">0</span>
                        <span class="sufijo">
                            {% if indicador.sufijo %}{{ indicador.sufijo }}{% endif %}
                        </span>
                    </h2>

                    <p class="indicador-descripcion mb-1">
                        {{ indicador.titulo }}
                    </p>

                    {% if indicador.subtitulo %}
                    <small class="indicador-subtitulo d-block">
                        {{ indicador.subtitulo }}
                    </small>
                    {% endif %}

                    <!-- Tooltip -->
                    <div class="indicador-tooltip">
                        {{ indicador.descripcion }}
                    </div>
                </div>
              </div>
            {% endfor %}

             

        </div>
        <div class="row text-center justify-content-center">
          <div class="col-6 col-md-4 col-lg-4 mb-4">
            <a href="{% url 'home:indicadores' %}" class="btn btn-outline-institucional btn-sm">
                Ver más indicadores
            </a>
          </div>
        </div>
    </div>
</section>
{% endif %}


<section class="py-5" style="background-color: #fff;">
  <div class="container pb-5 carousel">
    <h3 class="pb-5 text-center" style="color: var(--gris-link);">¿En Qué Etapa Estamos en el Proceso de Acreditación CNA?</h3>
    <button class="arrow left" id="prev">&#10094;</button>
    <button class="arrow right" id="next">&#10095;</button>
    <div class="track" id="track">
      <div class="item"><img src="{% static 'images/carrusel/1.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/2.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/3.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/4.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/5.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/6.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/7.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/8.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/9.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/10.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/11.png' %}"></div>
      <div class="item"><img src="{% static 'images/carrusel/12.png' %}"></div>
    </div>
  </div>
</section>


{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/carrusel.js' %}"></script>
{% endblock %}