{% extends "base.html" %}
{% load static %}
{% block title %}Multimedia{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/multimedia.css' %}">
{% endblock %}
{% block content %}
<div class="container-xl">
  <h1 class="py-4 hero-title">
    Multimedia
  </h1>
</div>

<section style="background-color: #fff;">

<div class="container py-5">
    <div class="row g-4">

        <!-- Card -->
        <div class="col-md-4">
          <a href="https://youtu.be/DVSekHiH_uA?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/DVSekHiH_uA/sddefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>La oficina Alumni fortalece el vínculo permanente entre la institución, sus titulados y estudiantes.</h6>
                  </div>
                  <div class="duracion">00:25</div>
              </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://youtu.be/uK4w_tm5Pp0?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/uK4w_tm5Pp0/hqdefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Primer Consejo Universitario</h6>
                  </div>
                  <div class="duracion">00:22</div>
              </div>

          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/EfHQcCWl9tg?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/EfHQcCWl9tg/hqdefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Nueva Política de Vinculación con el Medio</h6>
                  </div>
                  <div class="duracion">00:23</div>
              </div>

          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/gn8_8coDAK4?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/gn8_8coDAK4/sddefault.jpg" class="img-fluid">

                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Beneficios a funcionarios</h6>
                  </div>

                  <div class="duracion">00:38</div>
              </div>

          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/K02Duze9sZg?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/K02Duze9sZg/sddefault.jpg" class="img-fluid">

                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Autoridades regionales destacan el valioso aporte que la Universidad de La Serena realiza al desarrollo del territorio</h6>
                  </div>

                  <div class="duracion">1:01</div>
              </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/x7Ki6YmthzM?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/x7Ki6YmthzM/sddefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>La Expo de la Universidad de La Serena se consolida como una importante feria vocacional</h6>
                  </div>
                  <div class="duracion">00:26</div>
              </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/ze9QBfSuzDc?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/ze9QBfSuzDc/sddefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Mejora continua docentes</h6>
                  </div>
                  <div class="duracion">00:47</div>
              </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/cdz-foozd4o?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/cdz-foozd4o/sddefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Proceso de jerarquización por trayectoria</h6>
                  </div>
                  <div class="duracion">00:32</div>
              </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://youtu.be/pDpg1f8Kju8?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="text-decoration-none">
              <div class="video-card">
                  <img src="https://img.youtube.com/vi/pDpg1f8Kju8/sddefault.jpg" class="img-fluid">
                  <div class="overlay">
                      <span class="categoria">ACREDITACIÓN</span>
                      <h6>Prooyecto SATREPS ReBiS</h6>
                  </div>
                  <div class="duracion">00:55</div>
              </div>
          </a>
        </div>
    </div>

    <div class="row g-4 py-5 text-center justify-content-center">
        <div class="col-6 col-md-4 col-lg-4 mb-4">
        <a href="https://www.youtube.com/playlist?list=PLDZX_BALvmTa53YmHMVryGlej5J3KhP2p" target="_blank" class="btn btn-sm" style="background-color: var(--gris-link);color: #fff;padding: 8px 40px;border-radius: 20px;">
            Ver más videos
        </a>
        </div>
    </div>
</div>

</section>
{% endblock %}