{% extends "base.html" %}
{% load static %}
{% block title %}Quiénes Somos{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/quienes-somos.css' %}">
{% endblock %}
{% block content %}

<div class="container-xl">
  <h1 class="py-4 hero-title">
    Quiénes Somos
  </h1>
</div>

<section style="background-color: #fff;">
<div class="container-xl py-5">
   <div class="nivel">
        <!-- <h3 class="py-5" style="color: var(--gris-link);">Dirección de Desarrollo Estratégico y Calidad (DIDEC)</h3> -->
        <h3 class="subtitulo-seccion">
            Dirección de Desarrollo Estratégico y Calidad (DIDEC)
        </h3>
        <div class="nivel-texto">

        Las principales funciones de la DIDEC son:
        <ul>
          <li>Implementar el Sistema de Gestión Integral de la Calidad, orientando su acción a los principios institucionales del Aseguramiento Interno de la Calidad, de acuerdo con su Política interna vigente.</li>
          <li>Coordinar, supervisar y actualizar el Sistema de Gestión Integral de la Calidad (SGIC), asegurando que los procesos académicos y misionales incorporen el ciclo PHVA y que estos estén alineados con la Política de Aseguramiento Interno de la Calidad vigente.</li>
          <li>Diseñar, mantener y mejorar los sistemas institucionales de análisis y calidad, generar información válida para la toma de decisiones y coordinar los procesos de autoevaluación, en coherencia con el Estatuto y la normativa vigente.</li>
        </ul>
    </div>
    </div>  
</div>

    <div  class="container-xl pb-5">
        <div class="col-md-12 mb-4 text-center">
            <div class="organigrama-wrapper">
            <img 
                src="{% static 'images/organigrama-didec.png' %}" 
                class="img-fluid"
                alt="Organigrama">
            <a 
                class="punto punto-oai"
                href="{% static 'documentos/CGIC-DEN937.pdf' %}"
                target="_blank">
                <i class="bi bi-download"></i>
            </a>
            </div>
        </div>
    </div>

</section>

<div class="container-xl">
 <section class="py-5">
    <div>
        <h3 class="subtitulo-seccion">
            Funciones DIDEC
        </h3>
        <div class="row g-4">
            <!-- OAI -->
            <div class="col-12 col-md-4">
                <div class="funcion-card">
                    <div class="contenido-card">
                        <p class="titulo-card">
                            <a href="https://analisis.userena.cl/indicadores-institucionales/" target="_blank" rel="noopener noreferrer" style="color: var(--color-morado);text-decoration: none;">Oficina de Análisis Institucional (OAI) <i class="fa-regular fa-square-plus"></i>
                            </a>
                        </p>
                        <p class="descripcion-card">
                            Generar y gestionar la información institucional oficial, confiable y oportuna, mediante el análisis de datos, desarrollo de indicadores y monitoreo del desempeño institucional, apoyando la toma de decisiones y los procesos de aseguramiento de la calidad de la Universidad.
                        </p>
                    </div>
                    <button
                        class="btn-vermas"
                        data-bs-toggle="modal"
                        data-bs-target="#modalOAI">
                        Ver más
                    </button>
                </div>
            </div>

            <!-- OGIC -->
          <div class="col-12 col-md-4">
                <div class="funcion-card">
                    <div class="contenido-card">
                        <p class="titulo-card">
                            Oficina de Gestión Integral de la Calidad (OGIC)
                        </p>
                        <p class="descripcion-card">
                            Liderar el diseño, implementación, seguimiento y actualización del Sistema de Gestión Integral de la Calidad institucional, promoviendo una cultura de calidad y autorregulación en las distintas funciones universitarias, en coherencia con los lineamientos institucionales y la estructura organizacional vigente, fortaleciendo las competencias en los distintos niveles de la Institución para asegurar su adecuada implementación, control y mejora continua.
                        </p>
                    </div>
                    <button
                        class="btn-vermas"
                        data-bs-toggle="modal"
                        data-bs-target="#modalOGIC">
                        Ver más
                    </button>
                </div>
            </div>

            <!-- OAA -->
            <div class="col-12 col-md-4">
                <div class="funcion-card">
                    <div class="contenido-card">
                        <p class="titulo-card">
                            Oficina de Apoyo a la Autoevaluación (OAA)
                        </p>
                        <p class="descripcion-card">
                            Coordinar técnica y operativamente los procesos de autoevaluación y acreditación de los programas de pre y postgrado, en su versión de acreditación o certificación, así como también apoyar al proceso de autoevaluación y acreditación institucional.
                        </p>
                    </div>
                    <button
                        class="btn-vermas"
                        data-bs-toggle="modal"
                        data-bs-target="#modalOAA">
                        Ver más
                    </button>
                </div>
            </div>

    </div>
  </div>



  <div class="modal fade" id="modalOAI" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Oficina de Análisis Institucional (OAI)
                </h5>
                <button 
                    type="button" 
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <h6>Funciones específicas</h6>
                <ul class="text-muted mb-0" style="font-size: .875rem;">
                  <li style="margin-bottom: 10px;">Gestionar y analizar datos provenientes de las distintas unidades de la institución, transformándolos en información confiable y oportuna para apoyar la toma de decisiones institucionales.</li>
                  <li style="margin-bottom: 10px;">Desarrollar indicadores, reportes y estudios orientados al análisis y evaluación del desempeño institucional.</li>
                  <li style="margin-bottom: 10px;">Monitorear indicadores de desempeño institucional, identificando resultados relevantes, tendencias y oportunidades de mejora en los distintos ámbitos del quehacer universitario.</li>
                  <li style="margin-bottom: 10px;">Apoyar los procesos de aseguramiento de la calidad y acreditación institucional y de carreras, proporcionando información, análisis y evidencias requeridas para dichos procesos.</li>
                  <li style="margin-bottom: 10px;">Responder requerimientos de información de organismos externos y entidades regulatorias del sistema de educación superior, asegurando la consistencia y calidad de los datos reportados.</li>
                  <li style="margin-bottom: 10px;">Diseñar y mantener sistemas de información y dashboards que faciliten el acceso, visualización y uso de la información para el desarrollo institucional.</li>
                </ul>
            </div>
        </div>
    </div>
  </div>


  <div class="modal fade" id="modalOGIC" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Oficina de Gestión Integral de la Calidad (OGIC)
                </h5>
                <button 
                    type="button" 
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <h6>Funciones específicas</h6>
                <ul class="text-muted mb-0" style="font-size: .875rem;">
                  <li style="margin-bottom: 10px;">Liderar el diseño, implementación, seguimiento y mejora del Sistema de Gestión Integral de la Calidad institucional.</li>
                  <li style="margin-bottom: 10px;">Promover una cultura de calidad y autorregulación, en coherencia con los lineamientos institucionales y las funciones universitarias.</li>
                  <li style="margin-bottom: 10px;">Establecer lineamientos para la gestión y documentación de procesos institucionales, desde la perspectiva de la calidad.</li>
                  <li style="margin-bottom: 10px;">Diseñar y gestionar el mecanismo institucional de planificación, orientado a las unidades de la administración central, basado en sus desempeños clave y materializado en Programas de Contribución.</li>
                  <li style="margin-bottom: 10px;">Fortalecer las competencias en los distintos niveles de la institución, apoyando la implementación y mejora continua del sistema.
                  </li>
                  <li style="margin-bottom: 10px;">Monitorear la percepción de la calidad a partir de instancias formativas y otros mecanismos de retroalimentación.</li>
                </ul>
            </div>
        </div>
    </div>
  </div>


  <div class="modal fade" id="modalOAA" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Oficina de Apoyo a la Autoevaluación (OAA)
                </h5>
                <button 
                    type="button" 
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <h6>Funciones específicas</h6>
                <ul class="text-muted mb-0" style="font-size: .875rem;">
                  <li style="margin-bottom: 10px;">Coordinar las distintas etapas del proceso de acreditación y/o certificación.</li>
                  <li style="margin-bottom: 10px;">Acompañar y asesorar técnicamente a las unidades académicas en procesos de acreditación y/o certificación.</li>
                  <li style="margin-bottom: 10px;">Orientar y coordinar las sesiones de trabajo de los comités de autoevaluación.</li>
                  <li style="margin-bottom: 10px;">Aplicar mecanismos e instrumentos para la autoevaluación.</li>
                  <li style="margin-bottom: 10px;">Articular los requerimientos de información, documentos, datos, informes y actividades con unidades de apoyo.</li>
                  <li style="margin-bottom: 10px;">Revisión de antecedentes y del informe de autoevaluación institucional y de programas académicos.</li>
                  <li style="margin-bottom: 10px;">Coordinar visitas y requerimientos de las agencias u organismos competentes, en conjunto con las unidades académicas.</li>
                  <li style="margin-bottom: 10px;">Realizar seguimiento de avances de planes de mejora derivados de procesos de acreditación anterior.</li>
                  <li style="margin-bottom: 10px;">Realizar talleres de capacitación para la autoevaluación.</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

</section>
</div>


{% endblock %}