@keyframes bounce-down {
  0%, 100% { transform: translateY(0);  opacity: 1; }
  50%       { transform: translateY(6px); opacity: 0.75; }
}

.chevron-animado {
  animation: bounce-down 0.9s ease-in-out infinite;
  display: inline-block;
}

@media (min-width: 768px) {
  .ms-neg {
    margin-left: -50px;
  }
}


/* Carrusel línea de tiempo */
.carousel {
  position: relative;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease;
}

.item {
  flex: 0 0 calc(20% - 10px);
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Flechas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.arrow:hover {
  background: rgba(0,0,0,0.8);
}

.arrow.left {
  left: 0px;
}

.arrow.right {
  right: 10px;
}

/* Carrusel línea de tiempo */

/* MOBILE */
@media (max-width: 768px) {
  .item {
    min-width: 50%; /* 2 visibles */
  }
}


/* hover efecto para destacar la etapa en el carrusel, mostrando un texto descriptivo encima de la imagen. 
Para esto, se puede usar una estructura HTML con una capa superpuesta y CSS para el efecto hover. */
.card-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* opcional */
}

.card-overlay img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

/* capa encima */
.overlay {
  position: absolute;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s ease;
  /* padding: 10px; */
}

/* hover */
.card-overlay:hover .overlay {
  opacity: 1;
}

.card-overlay:hover img {
  transform: scale(1.05);
}