/* Diseño indicadores */

.indicador-card {
    background: #fff;
    border-radius: 12px;
    transition: transform 0.2s ease;
    cursor: default;
}


.indicador-icon {
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.indicador-valor {
    font-size: 4rem;
    font-weight: 700;
    color: #1a2a44;
}

.indicador-descripcion {
    font-size: 0.95rem;
    color: #333;
}

.indicador-subtitulo {
    font-size: 0.8rem;
    color: #777;
}



.indicador-hover {
    position: relative;
}

/* Tooltip oculto */
.indicador-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    
    background: #1f2d3d;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    
    font-size: 0.8rem;
    width: max-content;
    max-width: 220px;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    z-index: 10;
}

/* Flechita */
.indicador-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    border-width: 6px;
    border-style: solid;
    border-color: #1f2d3d transparent transparent transparent;
}

/* Hover */
.indicador-hover:hover .indicador-tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


/* 

.btn {
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 4px 14px;
} */



.btn-outline-institucional {
    background-color: var(--gris-link);
    color: #fff;
    padding: 8px 40px;
    border-radius: 20px;
}

.btn-outline-institucional:hover {
    color: var(--gris-link);
    border-color: var(--gris-link);
    padding: 8px 40px;
}