{% load static %}
<footer class="userena-footer">
    <div class="container">
        <div class="row">

            <!-- Columna 1 -->
            <div class="col-md-4 footer-col">
                <h6>Documentos Institucionales</h6>
                <ul>
                    <li><a href="#">Departamento de Equidad y Género</a></li>
                    <li><a href="#">Comité de Seguridad de la Información</a></li>
                    <li><a href="#">Modelo de Detección y Prevención de Delitos</a></li>
                    <li><a href="#">Fondo Solidario de Crédito Universitario</a></li>
                    <li><a href="#">Pago Fácil</a></li>
                </ul>
            </div>

            <!-- Columna 2 -->
            <div class="col-md-4 footer-col">
                <h6>ULS en Cifras</h6>
                <ul>
                    <li><a href="#">Convenios de Desempeño</a></li>
                    <li><a href="#">Incentivo al Retiro</a></li>
                    <li><a href="#">Trabaja con Nosotros</a></li>
                    <li><a href="#">PACE ULS</a></li>
                </ul>
            </div>

            <!-- Columna 3 -->
            <div class="col-md-4 footer-col">
                <h6>Transparencia ULS</h6>
                <ul>
                    <li><a href="#">Transparencia Activa</a></li>
                    <li><a href="#">Solicitud Ley de Transparencia</a></li>
                    <li><a href="#">Transparencia Presupuestaria</a></li>
                </ul>

                <h6 class="mt-4">Identidad Visual</h6>
                <ul>
                    <li><a href="#">Logos USerena</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>